<div id="rules">
  <h1> Hostel Rules and Regulations </h1>
	  <ul style= "list-style-type:square">
	    <h3>Students should read the rules and regulations before signing the application form (A copy of rules is also attached with our application form) </h3> 
        <li>You must not consume any intoxicating substances in the hostel premisess.</li>
        <li>Every case of accident or damage must be reported immediately at the reception desk.</li>
        <li>Use water and electricity judiciously. </li>
        <li>You don't have to use your own bed linen. </li>
        <li>You shouldn't leave any valuable possessions unattended. </li>
        <li>Smoking, Alcohol and Nacrotic consumption is strictly prohibited in and around the Hostel premises. Strict action will be taken against offenders. </li>
        <li>Students are not allowed to use electric stoves, heaters etc in rooms except in designated places. </li>
        <li>Silence:Strict silence shall be observed in hostel from 11pm to 5.30 am. Care should be taken at all times to ensure that music loud talking is not audible outside the room.</li>
        <li>All the girl students are expected to be in the hostel before 7.00 p.m. (8.30 p.m. on Saturdays and Sundays). If any student wishes to be away from the hostel during the weekend, holidays or any other time, she has to take prior permission from the Warden. </li>
        <li>In case of damage to or loss of hostel property the cost will be recovered from the students responsible for such damage or loss, if identified, or from all the students of the hostel, as decided by the Warden.</li>
        <li> Residents should not participate in any anti-national, antisocial or undesirable activity in or outside the campus. The visit of a person of the opposite sex to the hostel is restricted to common room and lounge. </li>
        <li> Ragging in any form is strictly prohibited. </li>
        <li> Hostel authorities are responsible for room allotment and their decision is final and binding. </li>
    </ul>
  <h2 style="color:#FF0000"> NON-COMPLIANCE WITH THE HOSTEL RULES WILL BE DEALT WITH STRICTLY </h2>
</div>