<style>

  </style>
  
  
  <div id="A">
      <div class="A1">
      <h1 style="font-family: 'Tangerine', cursive; font-weight:bolder; font-size:90px; text-align: center;" >ROOMS</h1>
      </div>
      <div class="A2">
          <div style="width: 1200px; height: 50px;">
            <h2 style="text-align: center;font-family: 'Tangerine', cursive; font-weight:bolder; font-size: 50px; ">AC ROOMS
            </h2>
          </div>
          <div style="float: left; width: 1200px;height:425px; ">
              <div style="width:600px;height: 425px; float: left;">
                <img style="border: 2px solid black;" src="assets/IMAGES2/room/single.jpg">
                <h3 style=" border: 1px solid black;text-align: center;font-family: 'Tangerine', cursive;
                 font-weight:bolder; font-size: 50px;">Single Ac</h3>
              </div>
              <div style="width:600px;height: 425px; float: left;">
                  <img style="border: 2px solid black;" src="assets/IMAGES2/room/A3.jpg">
                  <h3 style="text-align: center;font-family: 'Tangerine', cursive;
                   font-weight:bolder;border: 1px solid black; font-size: 50px; ">Duplex Ac</h3>
              </div>
          </div>
  
          
          
          
          
      </div>
  
            <div class="A2">
            <div style="width: 1200px; height: 50px;">
              <h2 style="text-align: center;font-family: 'Tangerine', cursive; font-weight:bolder; font-size: 50px; ">NON AC ROOMS
              </h2>
            </div>
            <div style="float: left; width: 1200px;height:425px; ">
                <div style="width:600px;height: 425px; float: left;">
                  <img style="border: 2px solid black;" src="assets/IMAGES2/room/A1.jpg">
                  <h3 style=" border: 1px solid black;text-align: center;font-family: 'Tangerine', cursive;
                   font-weight:bolder; font-size: 50px;">Single Non Ac</h3>
                </div>
                <div style="width:600px;height: 425px; float: left;">
                    <img style="border: 2px solid black;" src="assets/IMAGES2/room/double.jpg">
                    <h3 style="text-align: center;font-family: 'Tangerine', cursive;
                     font-weight:bolder;border: 1px solid black; font-size: 50px; ">Duplex Non Ac</h3>
                </div>
            </div>
    
            
            <div class="A2">
              <div style="width: 1200px; height: 50px;">
                <h2 style="text-align: center;font-family: 'Tangerine', cursive; font-weight:bolder; font-size: 50px; ">QUARTLET AC ROOMS
                </h2>
              </div>
              <div style="float: left; width: 1200px;height:425px; ">
                  <div style="width:1200px;height: 425px; float: left; margin-left: 200px;">
                    <img style="border: 2px solid black;" src="assets/IMAGES2/room/4B.jpg">
              </div>
            </div>  
            
        </div>
    
    
  
      
      
  </div>