#A{
    width: 1200px;
    float: left;
    height: 1600px;
    
  }
  .A1{
    width:1200px;
    float: left;
    height:150px;
  
    
  }
  .A2{
    width: 1200px;
    height: 500px;
    float: left;
  }
  