#main{
    height: 800px;
    width: 100%;
   

}
#content{
    height: 800px;
    width: 1050px;
    float: none;
    margin: 80px auto;   
}
#submit{
     margin-left:400px;
     margin-top: 100px;

}