
<div id="prf">
  <h1 class="display-4"> My Profile </h1>
</div>
<div id="form">

      <form>
      <div class="form-group row">
      <label class="col-sm-3 col-form-label"> Registration No. :</label>
      <div class="col-sm-9">
      <input type="text" name="reg_no"  class="form-control">
      </div>
      </div>
              <div class="form-group row">
              <label class="col-sm-3 col-form-label"> First Name : </label>
              <div class="col-sm-9">
              <input type="text" name="fname"  class="form-control">
              </div>
              </div>
                  <div class="form-group row">
                  <label class="col-sm-3 col-form-label"> Middle Name :</label>
                  <div class="col-sm-9">
                  <input type="text" name="mname"  class="form-control">
                  </div>
                  </div>
                       <div class="form-group row">
                       <label class="col-sm-3 col-form-label"> Last Name :</label>
                          <div class="col-sm-9">
                      <input type="text" name="mname"  class="form-control">
                      </div>
                      </div>
          
                           <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Select gender: </label>
                          <div class="col-sm-9">
                          <select class="form-control">
                          <option name="gender" hidden>select</option>
                          <option>female</option>
                          <option>male</option>
                          </select>
                          </div>
                          </div>
                  <div class="form-group row">
                 <label class="col-sm-3 col-form-label"> Contact No.: </label>
          <div class="col-sm-9">
          <input type="text" name="cnum"  class="form-control">
          </div>
          </div>
          <div class="form-group row">
      <label class="col-sm-3 col-form-label">Email:</label>
      <div class="col-sm-9">
      <input type="email"  name="mail_id"  class="form-control">
      </div>
      </div>
      <div id="button">
      <div id="submit">
            <button type="button" class="btn btn-primary btn-lg">Update Profile</button> 
      </div>
  </div>		
  </form>
      </div>
  