 
  <div style="width: 1200px ; height:1300px; float:none; margin: 10px auto; ">
  
  
  
  
      <div style="width:1200px; height: 1300px; float: right;">
           
            <div style="width: 280px; margin-left: 20px; margin-top: 25px; height:300px; float:left;">
                <div style="width: 280px; float:left;height:200px;">
                  <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/table-tannis.jpg">
                </div> 
    
                 <div style="width: 280px; height: 100px ;float:left; ">
                  <p style="text-align: center; font-style: italic; 
                  font-family: 'Times New Roman', Times, serif;">Students can also utilize there time 
                by enhancing their skills in table tennis. </p>
                 </div>
           </div>
    
           <div style="width: 280px; float: left; height: 300px;margin-top: 25px; margin-left: 160px; ">
                <div style="width: 280px; float:left;height:200px; ">
                  <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/badminton.jpg">
                </div> 
                 <div style="width: 280px; height: 100px ;float:left;">
                  <p style="text-align: center; font-style: italic; 
                  font-family: 'Times New Roman', Times, serif;">The hostel courts are 
                  well light and Student utilize them to often play badminton
                    through out the nights.
                  </p>
                 </div>
           </div>
    
           <div style="width: 280px; float: left; height: 300px;margin-top: 25px;margin-left:160px;">
                <div style="width: 280px; float:left; height:200px; ">
                  <img style=" border-radius: 10px;"  style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/baseketball.jpg">
                </div> 
                 <div style="width: 280px; height: 100px ;float:left;">
                      <p  style="text-align: center; font-style: italic; 
                      font-family: 'Times New Roman', Times, serif;">Professinal basketball 
                      courts with modifiable the flooring,for an enthusiastic
                        play.
                      </p>
                 </div>
           </div>
    
    
           <div style="width: 280px; height:300px; margin-top: 25px; margin-left: 20px; float:left;">
              <div style="width: 280px; float:left;height:200px;">
                <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/guest.jpg">
              </div> 
               <div style="width: 280px; height: 100px ;float:left; ">
                    <p style="text-align: center; font-style: italic; 
                    font-family: 'Times New Roman', Times, serif;">We we also provide guest room for parents 
                  if they wanna stay there for 1-2 days. </p>
               </div>
         </div>
    
         <div style="width: 280px; float: left;margin-top: 25px; height: 300px; margin-left: 160px; ">
              <div style="width: 280px; float:left;height:200px; ">
                <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/MESS.jpg">
              </div> 
               <div style="width: 280px; height: 100px ;float:left;">
                  <p style="text-align: center; font-style: italic; 
                  font-family: 'Times New Roman', Times, serif;">Our hostel has a very traditional yet extremely good food 
                    offered by the mess. It is adjacent to the main gate and is run on a contract.</p>
               </div>
         </div>
    
         <div style="width: 280px; float: left;margin-top: 25px; height: 300px;margin-left:160px;">
              <div style="width: 280px; float:left; height:200px;">
                <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/parking.jpg">
              </div> 
               <div style="width: 280px; height: 100px ;float:left;">
                <p style="text-align: center; font-style: italic; 
                font-family: 'Times New Roman', Times, serif;">Proper parking spaces are provided for bike
              parking along with security services.</p>
               </div>
         </div>
                 
         
    
         <div style="width: 280px; height:300px; margin-left: 20px; margin-top: 25px; float:left;">
            <div style="width: 280px; float:left;height:200px;">
              <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/nonac.jpg">
            </div> 
             <div style="width: 280px; height: 100px ;float:left; ">
              <p style="text-align: center; font-style: italic; 
              font-family: 'Times New Roman', Times, serif;">We provide a highly spacious room which provide
               a great environment</p>
             </div>
       </div>
    
       <div style="width: 280px; float: left;margin-top: 25px; height: 300px; margin-left: 160px; ">
            <div style="width: 280px; float:left;height:200px; ">
              <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/yoga.jpg">
            </div> 
             <div style="width: 280px; height: 100px ;float:left;">
              <p style="text-align: center; font-style: italic; 
              font-family: 'Times New Roman', Times, serif;">At the end of every week there is special 
            yoga class which will inhance skills & fitness of students.</p>
             </div>
       </div>
    
       <div style="width: 280px; float: left;margin-top: 25px; height: 300px;margin-left:160px;">
            <div style="width: 280px; float:left; height:200px;">
              <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/2B(AC).jpg">
            </div> 
             <div style="width: 280px; height: 100px ;float:left;">
              <p style="text-align: center; font-style: italic; 
              font-family: 'Times New Roman', Times, serif;">Student can also take AC rooms if they are
            comfortable with it.</p>
             </div>
       </div>
    
    
    
       <div style="width: 280px; height:300px; margin-top: 25px; margin-left: 20px; float:left;">
          <div style="width: 280px; float:left;height:200px;">
            <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/chess.jpg">
          </div> 
           <div style="width: 280px; height: 100px ;float:left; ">
            <p style="text-align: center; font-style: italic; 
            font-family: 'Times New Roman', Times, serif;">We will also provide a chess room 
          which will help you to increase your chess skills.</p>
           </div>
     </div>
    
     <div style="width: 280px; float: left;margin-top: 25px; height: 300px; margin-left: 160px; ">
          <div style="width: 280px; float:left;height:200px; ">
              <img  style="border-radius: 10px;"class="A" src="assets/IMAGES2/facilities/SQUASH.jpg">
            
          </div> 
           <div style="width: 280px; height: 100px ;float:left;">
            <p style="text-align: center; font-style: italic; 
            font-family: 'Times New Roman', Times, serif;">Squash courts 
          are also there for students and coach for students if they want to be a part of it.</p>
           </div>
     </div>
    
     <div style="width: 280px; float: left;margin-top: 25px; height: 300px;margin-left:160px;">
          <div style="width: 280px; float:left; height:200px;">
            <img style=" border-radius: 10px;" class="A" src="assets/IMAGES2/facilities/A1.jpg">
          </div> 
           <div style="width: 280px; height: 100px ;float:left;">
            <p style="text-align: center; font-style: italic; 
            font-family: 'Times New Roman', Times, serif;">Close circuit camera and multi layer
             security service is provided by us.</p>
           </div>
     </div>
                      
       </div>
    
    </div>
    
